*{
    margin: 0;
    padding: 0;
}
*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/WhatsApp\ Image\ 2025-11-25\ at\ 13.19.07_a19b8678.jpg);
}

li{
    display: inline;
    margin: 20px;
}

a:hover{
        cursor: pointer;
        color:darkmagenta;
}

ul li:nth-child(2){
    margin-left: 1000px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.contactUs{
    width: 60%;
    margin: 50px 450px;
    margin-top:150px ;
    padding: 20px;
    background-color: rgba(156, 138, 165);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


.contactUs h1{
    text-align: center;
    color: black;
}

.wayOfContact{
    width: 200px;
    height: 120px;
    margin: 20px 150px;
    background-color: rgba(223, 207, 199);
    display: inline-block;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;

}

.wayOfContact h5{
    font-size: medium;
    color: rgba(249, 171, 52);
    
}
.wayOfContact p{
    font-size: 20px;
    color: black;
}

.rights{
    background-color:rgba(183, 109, 169);
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    padding-top: 70px;
    padding-bottom: 20px;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 50px;
}