*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(images/WhatsApp\ Image\ 2025-11-25\ at\ 13.19.07_a19b8678.jpg);
}

li{
    display: inline;
    margin: 20px;
}

a:hover{
        cursor: pointer;
        color:darkmagenta;
}

ul li:nth-child(2){
    margin-left: 1000px;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.product{
    width: 30%;
    height: 400px;
    margin: auto;
    margin-top:300px ;
    text-align: center;
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}
img{
    padding-top: 10px;
}

img[alt="whatsapp"]{
    width: 60px;
    height: 60px;
    margin-top: 15px;
}
.rights{
    background-color:rgba(183, 109, 169);
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
}